body {
    background-color: lightgray;
    background-image: url(../images/house1.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #333;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}
